body {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    margin: 0;

    font-family: monospace;
    text-align: center;
}

#gaem {
    padding: 20px;
    position: relative;
    border-radius: 20px;
    border: 2px solid #000;
    margin-top: 20px;
}

#gameCanvas {
    border: 2px solid #000;
    background-color: #f0f0f0;
    min-width: 10vw;
    min-height: auto;
}

.playerImgs {
    display: none;
}

#buttocks {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 20px);
    grid-gap: 10px;
    justify-content: space-around;
    align-items: center;
}

#multiplayerContainer {
    display: none;
    width: 600px;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: grey;
    border: 4px solid black;
    border-radius: 20px;
    z-index: 10;
}


button:hover {
    cursor: pointer;
}